body{
    background-color: #fbfbfb;
    font-family: sans-serif;
}
.container{
    display: flex;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}
/* Modal */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 2s ease-in-out;
  }
/* Corpo da Modal */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 700px;
  }
  /* The Close Button */
  .closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .closeModal  {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
div.modalContent h1, div.modalContent h2{
    padding: 0;
    margin: 0;
}
div.modalContent h1{
    margin-top: 40px;
    font-size: 1.5em;
}
div.modalContent h2{
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 30px;
}
div.modalContent .detalhes p{
    text-align: justify;
}
div.containerBtn{
    display: flex;
    justify-content: flex-end;
}
div.containerBtn button{
    margin-left: 20px;
    margin: 20px 0 20px 30px;
    background-color: #f0f0f0;
    color: #575757;
    border: none;
    border-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;
}
/* topo */
nav.container{
    background-color: #2d343c;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}
.brand{
    background-color: cornflowerblue;
    height: 100%;
}
.brand h1{
    margin: 0;
    line-height: 84px;
    padding: 0 20px;
    color: white;
    font-family: sans-serif;
}
.menu{
    margin: 0;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu li{
    display: inline-block;
}
.menu a{
    text-decoration: none;
    color: #cecece;
    padding: 15px;
}
.user{
    margin: 0 30px;
    text-decoration: none;
}
/* Main */
main.container{
    background-color: #ffffff;
    flex-direction: row;
}
.perfil{
    width: 200px;
    display: flex;
    align-items: center;
    border-right: 0.5px solid #fef;
    flex-direction: column;
}
.perfil img{
    width: 150px;
    border-radius: 120px;
    border: 1px solid lightgray;
    margin: 30px 0;
}
.perfil h1{
    font-size: 1.3em;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
}
.btnPerfil{
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: .9em;
    font-family: sans-serif;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}
.perfil fieldset{
    margin-top: 30px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #efefef;
    font-size: 0.8em;
    /* margin-left: 10px; */
    width: 200px;
    box-sizing: border-box;
}
.perfil fieldset legend{
    text-align: center;
    padding: 0 10px;
    color: #9e9d9d;
}
.perfil fieldset h2{
    font-size: 1em ;
    text-align: center;
    margin-top: 20px;
}
.perfil fieldset p{
    color: #9e9d9d;
}
.content header{
    box-shadow: 0 2px 12px -4px rgba(0,0,0,0.15);
    width: 760px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user img{
    width: 20px;
}
.content h1{
    margin: 0 20px;
    padding: 30px 0;
}
.content h2{
    font-size: 1.2em;
    margin-left: 20px;
    margin-top: 20px;
}
div.titulo h1{
    margin-bottom: 0;
    padding-bottom: 0;
}
div.titulo h2{
    margin: 0 0 20px 20px;
    font-size: 0.8em;
    font-weight: normal;
    letter-spacing: 2px;
}
.btnReport{
    color: #575757;
    border: none;
    border-radius: 10px;
    font-size: .9em;
    font-family: sans-serif;
    padding: 10px 50px;
    background-color: #f0f0f0;
    margin-right: 30px;
    cursor: pointer;
}
.mainContent{
    padding: 40px 0;
}
.tabela{
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
}
.tabela thead th{
    border-bottom: 1px solid lightgrey;
    color: lightgray;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}
.tabela tbody tr:nth-child(even) {
    background: #EBEBEB;
}
.tabela th, .tabela td{
    padding: 10px;
}
footer{
    height: 100px;
    border-top: 0.5px solid #fef;
    background-color: #fbfbfb;
    font-size: 0.8em;
}
footer div.container{
    justify-content: space-between;
}
footer div.container a{
    text-decoration: none;
}
/* Contatos.php */
.contatos, .posts{
    padding: 30px 20px;
    width: 100%;
    min-height: 500pxs;
}
.contatos h2, .posts h2{
    font-size: 2.5em;
}
.contatos h2::after, .posts h2::after{
    content: '';
    width: 100%;
    height: 0.2px;
    background-color: lightgray;
    display: block;
}
.contatos .tabela, .posts .tabela{
    padding-left: 0;
}
/* Posts */
.posts{
    padding: 30px 20px;
    width: 100%;
    min-height: 500pxs;
}
